<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="OpenAI_ApiKey" value="" />
		<add key="OpenWeather_ApiKey" value="" />
	</appSettings>
	<connectionStrings>
		<add name="CadenaConexion" connectionString="Server=LAPTOP-0I8HCQGL\SQLEXPRESS;Database=Historial;Trusted_Connection=True;TrustServerCertificate=True"/>
	</connectionStrings>
</configuration>
